$color-primary: #4563E6;  
$color-secondary: #00A6FF; 
$color-header: #0085FF;   
$color-yellow: #FFC107;    
$color-white: #fff;
$color-black: #000;
$color-text: #333;
$gray-text: #333; 

$font-base: 'ArgentumSans', sans-serif; 
$font-size-base: 16px;

$base-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
